[submodule "external/bgfx"]
	path = external/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
